root = true

# All
[*]
# end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Extension
[*.{vim,vital}]
end_of_line = lf

[*.sh]
end_of_line = lf

[*.{txt,jax}]
trim_trailing_whitespace = false

[*.go]
indent_style = tab

[*.py]
indent_style = space
indent_size = 4

[*.{md,mdx,mdown,mkd,mkdn,markdown,mdwn}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# File
[{Makefile,**.mk}]
end_of_line = lf
indent_style = tab

# EOF
